
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #fff;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 10;
  background: transparent;
}
.nav-left, .nav-right {
  display: flex;
  gap: 15px;
}
.logo {
  font-size: 1.8em;
}
.swiper {
  width: 100%;
  height: 750px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  height: 850px;
  object-fit: cover; /* cover o 'contain' según prefieras */
  border-radius: 12px;
}

/* Barra superior */
.topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 97.5%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3); /* semitransparente */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  backdrop-filter: blur(4px); /* opcional: efecto difuminado */
}


.topbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.topbar .menu a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.topbar .top-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar .search-bar {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
}

/* Barra de filtros inferior */
.filtros {
  padding: 20px;
  background: #0066ff;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.filtro-grupo {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.filtro-grupo select,
.filtrar-btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filtrar-btn {
  background-color: #0046be;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
